{% extends "spironellohome/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'spironellohome/learningstyles.css' %}">
{% endblock extrastyle %}

{% block content %}
<div class="container-fluid">
    <div class="learning-header d-md-flex justify-content-center bg-gradient">
        <img class="d-none d-md-block" src="{% static 'spironellohome/images/learning-draw.svg' %}" style="height: 300px; padding-left: 1rem;" alt="illustration">
        <div class="title-paragraph d-block text-center m-3">
            <h1 class="learning-title text-center w-75 display-3">Entendiendo El Seguro</h1>
            <p class="learning-paragraph text-center w-75">Todo lo que necesitas saber sobre el seguro explicado por nuestros expertos de manera simple, clara y detallada</p>
            <a href="{% url 'quickquote' %}" id="cotiza-ahora-btn" class="btn btn-lg btn-light">Cotiza Aquí</a>
        </div>
        <img class="d-md-none d-block" src="{% static 'spironellohome/images/learning-draw.svg' %}" style="height: 200px; padding-left: 1rem;" alt="illustration">
    </div>
    <div class="row">
      <div class="col-md-3 mb-5 m-3">
        {% for article in learning_articles %}
        <div class="card">
            <a href="{% url 'detailed_article' slug=article.slug %}" style="text-decoration: none; color: black;">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{article.title}} Image">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.summary }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
      </div>
     
{% endblock %}