{% extends "spironellohome/base.html" %}
{% load static %}
{% block content %}
{% for element_product in detailed_product %}
<header class="text-white py-5" style="background-color: rgb(0, 0, 73);">
    <div class="container"> 
    <h1 class="display-4">
        {% if element_product.icon %}
        <img src="{{ element_product.icon.url }}" style="height: 90px; width: 150px;" alt="">
        {% endif %}
        {{ element_product.title }}
    </h1>
    <p class="lead">El seguro que se ajusta a vos: Encontra lo que necesitas, sin pagar de mas.</p>
    </div>
</header>
{% endfor %}
{% endblock %}